
.userName{
    span{
        font-size: 24px;
        color: white;
        font-weight: 500;
    }
}
.affiliate_fill
{

        .analysis-table{
            .col-md-4{
                padding:  10px;
                background-color: rgb(77, 124, 255);
                color: white;
                font-weight: 500;
                font-size: 18px;
                border-radius: 5px;
                text-align: center;
                margin: 0 10px;
               p{
                   margin-bottom: 0 !important;
               }

            }
            .col-md-7{
                  padding:  10px;
                background-color: rgb(77, 124, 255);
                color: white;
                font-weight: 500;
                font-size: 18px;
                border-radius: 5px;
                text-align: center;
                margin: 0 10px;
               p{
                   margin-bottom: 0 !important;
               }
            }


        }

}
